body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#quizApp {
    text-align: center;
    padding: 20px;
}

#answers button {
    width: 100%;
}

#feedback {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
}

button {
    margin-top: 10px;
}
